<div class="container mt-4 mb-5 ">
  <form class="border border-dark  p-3 mt-3" >
    <div class="row ">
        <h3 class="text-center text-capitalize">Add Restaurant details</h3>
      <div class="col-md-6 ">
        <div class="p-2">
          <input  type="text" class="form-control" placeholder="id">
        </div>
          <div class="p-2">
        <input  type="text" class="form-control text-capitalize" placeholder="Restaurent name">
      </div>
        <div class="p-2">
          <input  type="text" class="form-control" placeholder="Restaurent image">
        </div>
        <div class="mb-2 p-2">
          <label class="mb-2">Operating Hours</label>
          <input type="text" class="form-control mb-2" placeholder="Monday">
          <input type="text" class="form-control mb-2" placeholder="Monday">
          <input type="text" class="form-control mb-2" placeholder="Monday">
          <input type="text" class="form-control mb-2" placeholder="Monday">
          <input type="text" class="form-control mb-2" placeholder="Monday">
          <input type="text" class="form-control mb-2" placeholder="Monday">
          <input type="text" class="form-control mb-2" placeholder="Monday">

        </div>
</div>
      <div class="col-md-6">
        <div class="p-2">
          <input  type="text" class="form-control" placeholder="address">
        </div>
      <div class="p-2">
        <input  type="text" class="form-control" placeholder="neighborhood name">
      </div>
      <div class="p-2">
        <input  type="text" class="form-control" placeholder="Restaurent Cusine Type">
      </div>
      <div class="mb-2 p-2">
        <label class=" mb-2">Reviews</label>
        <input type="text" class="form-control mb-2" placeholder="name">
        <input type="date" class="form-control mb-2" placeholder="date">
        <input type="text" class="form-control mb-2" placeholder="rating">
        <input type="text" class="form-control mb-2" placeholder="Comments">
      </div>

      </div>
      <div class="text-center center">
        <button (click)="addRestaurant()" type="submit" class="btn btn-dark">Add Restaurant</button>
      </div>
</div>
  </form>
</div>
